/Glav.CacheAdapter.ExampleUsage/bin
/Glav.CacheAdapter.ExampleUsage/obj
/Glav.CacheAdapter.Tests/bin
/Glav.CacheAdapter.Tests/obj
/Glav.CacheAdapter/obj
/Glav.CacheAdapter/bin
/packages
/.vs
/Glav.CacheAdapter/Glav.CacheAdapter.csproj.user
/TestResults
/Glav.CacheAdapter.Package/Packages/Glav.CacheAdapter/Glav.CacheAdapter.4.2.2.nupkg
/Glav.CacheAdapter.Package/Packages/Glav.CacheAdapter/content
/Glav.CacheAdapter.Package/Packages/Glav.CacheAdapter/lib
/Glav.CacheAdapter.Package/Packages/Glav.CacheAdapter.Core/lib
/Glav.CacheAdapter.Package/Packages/Glav.CacheAdapter.Core/Glav.CacheAdapter.Core.4.1.1.nupkg
