<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Glav.CacheAdapter.MainConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>

  <!--
  This appSettings section shows how you can use an AppSettings section to override the
  default config section below (Glav.CacheAdapter.MainConfig) which may be desirable in
  your situation.
  Note: The settings are named exactly the same with the addition of the 'CacheAdapter.' prefix.
  -->
  <appSettings>
    <!--appFabric-->
    <!--<add key="Cache.CacheToUse" value="appfabric"/>
    <add key="Cache.IsCacheEnabled" value="true"/>
    <add key="Cache.IsCacheDependencyManagementEnabled" value="true" />
    <add key="Cache.DistributedCacheServers" value="glavtest.cache.windows.net:22233"/>
    <add key="Cache.CacheSpecificData" value="UseSsl=false;ChannelOpenTimeout=120;SecurityMode=Message;MessageSecurityAuthorizationInfo={your-security-key}"/>
    <add key="Cache.LoggingLevel" value="Information"/>-->

    <!--memory-->
    <add key="Cache.CacheToUse" value="memory"/>
    <add key="Cache.IsCacheEnabled" value="true"/>
    <add key="Cache.IsCacheDependencyManagementEnabled" value="true"/>
    <add key="Cache.CacheSpecificData" value=""/>
    <add key="Cache.LoggingLevel" value="Information"/>

    <!--ASP.Net web-->
    <!--<add key="Cache.CacheToUse" value="web"/>
    <add key="Cache.IsCacheEnabled" value="true"/>
    <add key="Cache.IsCacheDependencyManagementEnabled" value="true" />
    <add key="Cache.DependencyManagerToUse" value="default"/>
    <add key="Cache.LoggingLevel" value="Information"/>-->


    <!--memcached-->
    <!--<add key="Cache.CacheToUse" value="memcached"/>
    <add key="Cache.IsCacheEnabled" value="true"/>
    <add key="Cache.IsCacheDependencyManagementEnabled" value="true" />
    <add key="Cache.DistributedCacheServers" value="127.0.0.1:11211"/>
    <add key="Cache.CacheSpecificData" value="MinPoolSize=10;MaxPoolSize=30"/>
    <add key="Cache.LoggingLevel" value="Information"/>-->

    <!--redis-->
    <!--<add key="Cache.CacheToUse" value="redis"/>
    <add key="Cache.IsCacheEnabled" value="true"/>
    <add key="Cache.IsCacheDependencyManagementEnabled" value="true" />
    <add key="Cache.DistributedCacheServers" value="{your-azure-redis-name}.redis.cache.windows.net:6380"/>
    <add key="Cache.DependencyManagerToUse" value="redis"/>
    <add key="Cache.CacheSpecificData" value="ssl=true;abortConnect=false;connecttimeout=15000;password={your-azure-redis-access-key}"/>
    <add key="Cache.LoggingLevel" value="Information"/>-->
    
  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Serialization" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.6.9.0" newVersion="2.6.9.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.6.9.0" newVersion="2.6.9.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
