<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Cache.CacheToUse" value="memory"/>
    <add key="Cache.IsCacheEnabled" value="true"/>
    <add key="Cache.IsCacheKeysDependenciesEnabled" value="true" />
    <add key="Cache.IsCacheGroupDependenciesEnabled" value="true" />
  </appSettings>
</configuration>