<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Cache.CacheToUse" value="memcached"/>
    <add key="Cache.IsCacheEnabled" value="true"/>
    <add key="Cache.IsCacheDependencyManagementEnabled" value="true" />
    <add key="Cache.DistributedCacheServers" value="127.0.0.1:11211"/>
  </appSettings>
</configuration>