<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Glav.CacheAdapter.MainConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="dataCacheClients" type="Microsoft.ApplicationServer.Caching.DataCacheClientsSection, Microsoft.ApplicationServer.Caching.Core" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  <applicationSettings>
    <Glav.CacheAdapter.MainConfig>
      <setting name="CacheToUse" serializeAs="String">
        <value>Memory</value>
      </setting>
      <setting name="DistributedCacheServers" serializeAs="String">
        <value>localhost:22223</value>
      </setting>
      <setting name="DistributedCacheName" serializeAs="String">
        <value>MyCache</value>
      </setting>
    </Glav.CacheAdapter.MainConfig>
  </applicationSettings>
  <dataCacheClients>
    <dataCacheClient name="default">
      <hosts>
        <host name="YOURCACHENAME.cache.windows.net" cachePort="22233" />
      </hosts>
      <securityProperties mode="Message">
        <messageSecurity authorizationInfo="YOURCACHETOKEN"></messageSecurity>
      </securityProperties>
    </dataCacheClient>
    <dataCacheClient name="SslEndpoint">
      <hosts>
        <host name="YOURCACHENAME.cache.windows.net" cachePort="22243" />
      </hosts>
      <securityProperties mode="Message" sslEnabled="true">
        <messageSecurity authorizationInfo="YOURCACHETOKEN"></messageSecurity>
      </securityProperties>
    </dataCacheClient>
  </dataCacheClients>
</configuration>